
.dashboard-wrap{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: #EDF2F7;
}


.dash-left{
    /* border-right: 2px solid #A0AEC0; */
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 20px 10px;
}


.dash-user{
    width: 100%;
    height: 70px;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.dash-user-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dash-user-name{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.dash-user-name > p{
    font-size: 15px;
}


.dash-left-options{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@keyframes select {
    from{ background-color: var(--primary); }
    to{ background-color: var(--background); }
}

.dash-option-select{
    width: 100%;
    height: 40px;
    /* background-color: pink; */
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    animation: 200ms 1 forwards linear;
    transition: all 200ms linear;
    cursor: pointer;
}

.dash-option-select > p{
    font-size: 18px;
    color: var(--background);
    transition: 200ms;
}

.dash-option-select:hover p{
    font-size: 19px;
}

.dash-option-select:hover   .dash-option-select > p{
    background-color: red;
}

#dash-option-icon{
    font-size: 20px;
    color: var(--background);
    font-weight: bolder;
}








.dash-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


.searchbar-section{
    width: 100%;
    min-height: 8vh;
    padding: 5px;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.search-bar{
    width: 450px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar > input{
    height: 100%;
    width: 100%;
    border: none;
    outline: 2px solid #A0AEC0;
    border-radius: 5px;
    background-color: var(--background);
    padding: 0 45px 0 15px;
    font-size: 20px;
}

.search-bar > input:focus{
    outline: 3px solid #A0AEC0;
}

.search-icon{
    position: absolute;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 100%;
    background-color: var(--primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
}

.search-icon:hover{
    background-color: var(--secondary);
}

#dash-search-icon{
    font-size: 25px;
    fill: white;
}

.notification-section{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.drone-cart{
    width: 40px;
    height: 40px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#cart-icon{
    font-size: 25px;
    fill: var(--primary);
}

.cart-item-count{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
}

.notification-count{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--accent);
    position: absolute;
    top: 0;
    right: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
}





.dash-display-board{
    width: 100%;
    height: 85vh;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    padding: 0 15px;
    overflow-y: auto;
    position: relative;
}

.dash-display-board::-webkit-scrollbar{
    width: 5px;
}

.dash-display-board::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 20px;
}

.dash-display-board::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}

.loader{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LSIT OF MEDS */

.meds-display{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: teal; */
}

.meds-display > p{
    font-size: 18px;
}


.med-list-card{
    width: 65%;
    height: 100px;
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 10px;
}

.med-list-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.med-list-image{
    min-width: 100px;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.med-list-info{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantity{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10px;
}

input#qty{
    height: 100%;
    width: 50px;
    padding: 0 3px 0 10px;
    border: none;
    outline: 1px solid #A0AEC0;
    border-radius: 3px;
}

button#add-to-cart{
    min-width: fit-content;
    width: fit-content;
    height: fit-content;
    /* border: 2px solid var(--primary); */
    border: none;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-wrap: nowrap;
    /* font-weight: 600; */
    transition: 300ms;
    cursor: pointer;
}
 
button#add-to-cart:hover{
background-color: var(--secondary);
color: white;
}

button#remove-item{
    width: 100%;
    padding: 6px 0;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--accent);
    margin-top: 5px;
    cursor: pointer;
    transition: 200ms;
}

button#remove-item:hover{
    background-color: red;
}







.select-modal-back{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-modal-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

@keyframes modal {
    from {transform: scale(0.75);}
    to {transform: scale(1);}
}

.select-modal{
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 25px;
    position: relative;
    z-index: 5;
    scale: 0.75;
    animation: modal 100ms 1 forwards linear;
}

.select-modal-image{
    width: 100%;
    height: 200px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#modal-close-icon{
    font-size: 30px;
    position: absolute;
    border-radius: 5px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: 200ms;
}

#modal-close-icon:hover{
    background-color: red;
    color: white;
}


.med-list-card-grid{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 25px;
}

.summary-header{
    width: 100%;
    height: fit-content;
    background-color: var(--background);
    padding: 20px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.med-list-main-card{
    height: 270px;
    /* border: 1px solid; */
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 15px;
}

.med-list-main-card:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.med-card-list-image{
    width: 100%;
    height: 190px;
    /* background-color: gray; */
    border-radius: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.med-card-list-info{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.med-card-list-info > p{
    font-size: 14px;
}




.right-side-butn{
    width: fit-content;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 40px;
}

@keyframes back {
    from {border: 1px solid transparent;}
    to {    border: 1px solid var(--secondary);}
}

#back-arrow{
    font-size: 33px;
    fill: var(--primary);
    border-radius: 5px;
    transition: 200ms;
    cursor: pointer;
}

#back-arrow:hover{
    fill: var(--secondary);
    border: 1px solid var(--secondary);
    animation: back 200ms 1 forwards linear;
}

.button-wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
    position: relative;
}

.loading-button{
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    position: absolute;
}






/* DRONE LIST */

.drone-list-main-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.drone-list-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.drone-list-card{
    width: 300px;
    height: 330px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.drone-list-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}

.drone-list-image{
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




/* SUMMARY */

.summary-wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#h4-header{
    font-size: 18px;
    color: var(--text);
}



.cart-items-div{
    width: 400px;
    height: 420px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    animation: modal 120ms 1 forwards linear;
}

.cart-items-div > p{
    font-weight: 500;
    font-size: 18px;
    min-height: 35px;
}

.cart-items-scroll{
    width: 100%;
    height: 100%;
    /* background-color: lightblue; */
    overflow-y: auto;
}

.cart-items-scroll::-webkit-scrollbar{
    width: 4px;
}
.cart-items-scroll::-webkit-scrollbar-thumb{
    background-color: lightgray;
}

.cart-items-grid{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    padding: 15px 20px;
}









.history-section{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history-headers{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: yellow; */
}

.history-headers-wrap{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.order-group-header{
    width: fit-content;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-group-header > p{
    color: var(--text);
    cursor: pointer;
}

.underline-div{
    width: 100%;
    height: 2.5px;
    background-color: transparent;
    border-radius: 20px;
    animation: 200ms 1 forwards linear;
}

@keyframes underline {
    from { width: 0; }
    to { width: 100%; background-color: var(--primary); }
}


.history-grid-wrap{
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    overflow-y: auto;
}

.history-grid-wrap::-webkit-scrollbar{
   display: none;
}

.history-grid-header{
    width: 100%;
    height: 40px;
    /* background-color: green; */
    /* border-radius: 10px; */
    /* border: 1px solid gray; */
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    display: grid;
    grid-template-columns: 150px 1fr 200px 200px 150px;
    grid-template-rows: auto;
    padding: 0 15px;
    gap: 5px;
}

.history-grid-header-2{
    width: 100%;
    height: 40px;
    /* background-color: green; */
    /* border-radius: 10px; */
    /* border: 1px solid gray; */
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    display: grid;
    grid-template-columns: 150px 150px 1fr 200px 200px 150px;
    grid-template-rows: auto;
    padding: 0 15px;
    gap: 5px;
}

.history-grid-header-label{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.history-item{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.5);
    /* border: 1px solid gray; */
    display: grid;
    grid-template-columns: 150px 1fr 200px 200px 150px;
    padding: 0 15px;
    margin-bottom: 6px;
    gap: 5px;
}

.history-item:hover{
    transition: all 100ms linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.history-item-section{
    /* border-right: 1px solid; */
    display: flex;
    align-items: center;
}

.history-item-section > p{
    font-size: 12px;
    font-weight: 500;
}








.profile-page{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-page > h1{
    font-size: 20px;
}

.profile-info-div{
    width: 100%;
    height: fit-content;
    /* border: 1px solid var(--secondary); */
    border-radius: 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info-section{
    width: 100%;
    height: 35px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-info-section > p{
    width: 120px;
    color: var(--text);
}

.profile-info-section > input{
    width: 300px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: var(--text);
}

.profile-img-section{
    width: 100%;
    height: fit-content;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-img-div{
    width: 150px;
    height: 150px;
    /* border: 1px solid var(--secondary); */
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.profile-img-details{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#p-14px{
    font-size: 14px;
    color: var(--text);
}

#h4-16px{
    font-size: 16px;
    color: var(--text);
}























/* RESPONSIVENESS */

@media screen and (max-width: 1299px) {
    .med-list-card-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 999px) {
    .med-list-card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}