
.dashboard-wrap{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.dash-left{
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5px;
}


.dash-user{
    width: 100%;
    height: 70px;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.dash-user-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
}

.dash-user-name{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.dash-user-name > p{
    font-size: 15px;
}


.dash-left-options{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


@keyframes select {
    from{ background-color: rgba(0, 0, 0, 0.3); }
    to{ background-color: black; color: white; }
}

.dash-option-select{
    width: 100%;
    height: 40px;
    /* background-color: pink; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    animation: 200ms 1 forwards linear;
}

.dash-option-select > p{
    font-size: 20px;
    
}

.dash-option-select:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}








.dash-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


.searchbar-section{
    width: 100%;
    min-height: 8vh;
    padding: 5px;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    gap: 50px;
}

.search-bar{
    width: 450px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar > input{
    height: 100%;
    width: 100%;
    border: none;
    outline: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 0 45px 0 15px;
    font-size: 20px;
}

.search-bar > input:focus{
    outline: 3px solid black;
}

.search-icon{
    position: absolute;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dash-search-icon{
    font-size: 25px;
    cursor: pointer;
}

.drone-cart{
    width: 50px;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cart-icon{
    font-size: 30px;
}

.cart-item-count{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}




.dash-display-board{
    width: 100%;
    height: 85vh;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
    overflow-y: auto;
}

.dash-display-board::-webkit-scrollbar{
    width: 5px;
}

.dash-display-board::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 20px;
}

.dash-display-board::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}

.loader{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LSIT OF MEDS */

.meds-display{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: teal; */
}

.meds-display > p{
    font-size: 18px;
}


.med-list-card{
    width: 65%;
    height: 100px;
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 10px;
}

.med-list-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.med-list-image{
    min-width: 100px;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.med-list-info{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantity{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10px;
}

input#qty{
    height: 100%;
    width: 60px;
    padding: 0 3px 0 10px;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;
}

button#add-to-cart{
    min-width: fit-content;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-wrap: nowrap;
    /* font-weight: 600; */
    transition: 300ms;
    cursor: pointer;
}
 
button#add-to-cart:hover{
background-color: black;
color: white;
}







.select-modal-back{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-modal-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

@keyframes modal {
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}

.select-modal{
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 25px;
    position: relative;
    z-index: 5;
    scale: 0.8;
    animation: modal 100ms 1 forwards linear;
}

.select-modal-image{
    width: 100%;
    height: 200px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}






/* DRONE LIST */

.drone-list-main-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.drone-list-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.drone-list-card{
    width: 300px;
    height: 330px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.drone-list-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}

.drone-list-image{
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




/* SUMMARY */

.summary-wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#h4-header{
    font-size: 22px;
}