.signup-wrap{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
}


.signup-left{
    width: 40%;
    height: 100%;
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup-left > img{
    width: 100%;
}

.signup-left > h2{
    text-align: center;
    font-size: 35px;
}




.signup-right{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    overflow-y: scroll;

}

.form-wrap{
    width: 500px;
    height: fit-content;
    /* background-color: pink; */
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-wrap > p{
    font-size: 14px;
    margin-top: 10px;
}

.form-wrap::-webkit-scrollbar{
    visibility: hidden;
}

#form-login{
    font-size: 15px;
    color: blue;
    text-decoration: none;
}

#form-login:hover{
    text-decoration: underline;
}

.input-wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: pink; */
}

.input-wrap > label{
    font-size: 17px;
}

.input-wrap > input{
    width: 100%;
    height: 40px;
    border: none;
    outline: 1px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 0 15px;
    font-size: 18px;
}

@keyframes input {
    from{outline: 1px solid black;}
    to{outline: 3px solid black;}
}

.input-wrap > input:focus{
    animation: input 300ms 1 forwards linear;
}

.input-wrap2{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.inner-input-wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}

.inner-input-wrap > input{
    width: 100%;
    height: 40px;
    border: none;
    outline: 1px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 0 15px;
    font-size: 18px;
}

.inner-input-wrap > input:focus{
    animation: input 300ms 1 forwards linear;
}


#pass-eye{
    font-size: 20px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}


.region-dropdown{
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.region-unit{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.region-unit:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


button.register{
    width: fit-content;
    height: fit-content;
    padding: 10px 25px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 3px;
    transition: 300ms;
    margin-top: 20px;
}

button.register:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.loader-button{
    width: 100px;
    height: 45px;
    border-radius: 3px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    margin-top: 20px;
}












/* VERIFICATION PAGE */

.verify-page{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify-box{
    width: 50%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.verify-box > h3{
    font-size: 25px;
}

.verify-box > p{
    text-align: center;
}










/* RESPONSIVENESS */

@media screen and (max-width: 1300px) {
    .signup-left > h2{
        font-size: 30px;
    }
}


@media screen and (max-width: 920px) {
    .form-wrap{
        width: 100%;
    }
    .verify-box{
        width: 80%;
    }
    .verify-box >h3{
        font-size: 20px;
    }
}


@media screen and (max-width: 720px) {
    .signup-wrap{
        height: fit-content;
        flex-direction: column;
    }
    .signup-left{
        width: 100%;
        height: fit-content;
    }
    .signup-left > h2{
        font-size: 22px;
    }
    .signup-left > img{
        width: 90%;
    }
    .signup-right{
        width: 100%;
    }
    .input-wrap2{
        flex-direction: column;
        gap: 20px;
    }
}