*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto-reg;
}

@font-face {
  font-family: roboto-reg;
  src: url(./assets/Fonts/RobotoFlex-Regular.ttf);
}

:root {
  --primary: #5A67D8;   /* Indigo */
  --secondary: #3182CE; /* Blue */
  --accent: #F56565;    /* Warm Red */
  --background: #EDF2F7; /* Soft Gray */
  --text: #1A202C;      /* Dark Gray */
}







/* NAVBAR */

.navbar-container{
  width: 100%;
  height: 70px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  /* box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  animation: navbar 1 both linear;
  animation-timeline: scroll();
}

@keyframes navbar {
  0% {background-color: transparent;}
  20% {background-color: transparent;}
  40% {background-color: var(--background);}
  100% {background-color: var(--background);}
}


.laptop-navbar{
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  /* background-color: pink; */
}

.nav-left{
  width: 200px;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
}

.nav-left > h2{
  cursor: pointer;
  transition: 300ms;
  font-size: 30px;
  text-shadow: 0 1px 6px rgba(255, 255, 255, 0.7);
}

.nav-left > h2:hover{
  text-shadow: 0 1px 5px white;
}


.nav-mid{
  width: 200px;
  height: 100%;
  /* background-color: lightgreen; */
}


.nav-right{
  width: fit-content;
  height: 100%;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}


#get-started{
  width: fit-content;
  height: fit-content;
  /* border: 3px solid var(--primary); */
  background-color: var(--primary);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--background);
  font-size: 18px;
  font-weight: 500;
  transition: 300ms;
  cursor: pointer;
}

#get-started:hover{
  background-color: var(--accent);
  color: var(--background);
  /* font-weight: 500; */
}

#get-started:active{
  background-color: var(--secondary);
}


.nav_user-info{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_user-info > h4{
  font-size: 18px;
}

#nav-login{
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#nav-login:hover{
  text-decoration: underline;
}

#name-link{
  color: black;
  text-decoration: none;
}

#name-link:hover{
  text-decoration: underline;
}

.menu-dropdown{
  width: 200px;
  height: fit-content;
  padding: 10px 5px;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  top: 50px;
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 200ms linear;
}

.menu-dropdown-option{
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-dropdown-option > p{
  font-size: 18px;
  color: var(--text);
}

.menu-dropdown-option:hover{
  background-color: var(--primary);
}

.menu-dropdown-option:active{
  background-color: var(--secondary);
}

.menu-dropdown.open {
  opacity: 1;
  transform: scale(1);
  top: 70px;
  pointer-events: auto;
}








/* LANDING PAGE */

.page-wrap{
  width: 100%;
  height: fit-content;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero-section{
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.hero-image{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.558);
  background-image: url(./assets/Images/Pelican-2.0-Front.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: darken;
}







/* INFO SECTION */

.transparent-cover{
  width: 100%;
  height: 85vh;
  /* background-color: yellow; */
}

@keyframes wide {
  0%{ width: 1000px; }
  20%{ width: 100%; }
  100%{ width: 100%; }
}

.page-wrap2{
  width: 100%;
  height: fit-content;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  animation: wide 1 both linear;
  animation-timeline: scroll();
}

.info-section{
  width: 100%;
  height: 15vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 20px;
}

.info-section > h1{
  font-size: 28px;
  color: var(--text);
  font-weight: 600;
}

span#underlined-text{
  position: relative;
  color: var(--accent);
}

img#underline-img{
  position: absolute;
  left: -10px;
  top: -50px;
  width: 150px;
}


.info-card-grid{
  width: 1000px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: burlywood; */
  padding: 100px 20px 50px;
  gap: 30px;
}

.home-info-card{
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 15px;
  /* border: 1px solid lightgray; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.home-info-card > h4{
  color: var(--text);
  font-size: 16px;
}

.home-info-card > p{
  color: var(--text);
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
}

.info-card-img{
  width: 90px;
  height: 90px;
  border-radius: 15px;
  /* background-color: var(--primary); */
  border: 3px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}




.about-us{
  width: 100%;
  height: fit-content;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  /* background-color: aquamarine; */
}

.about-us-header{
  width: 1000px;
  height: fit-content;
  /* background-color: bisque; */
  padding: 0 20px;
}

.about-us-header > h1{
  font-size: 28px;
  color: var(--text);
  font-weight: 600;
}

.about-us-cards-div{
  width: 1000px;
  height: fit-content;
  padding: 20px 0;
}

.about-us-cards-wrap{
  width: 1000px;
  height: 300px;
  background-color: #1A202C;
}

















/* RESPONSIVENESS */

@media screen and (max-width: 1000px) {
  .info-card-grid{
    width: 100%;
  }
}