*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto-reg;
}

@font-face {
  font-family: roboto-reg;
  src: url(./assets/Fonts/RobotoFlex-Regular.ttf);
}







/* NAVBAR */

.navbar-container{
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}


.laptop-navbar{
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-left{
  width: 200px;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
}

.nav-left > h2{
  font-size: 30px;
}


.nav-mid{
  width: 200px;
  height: 100%;
  /* background-color: lightgreen; */
}


.nav-right{
  width: fit-content;
  height: 100%;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: end;
}

#get-started{
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  transition: 300ms;
  cursor: pointer;
}

#get-started:hover{
  background-color: black;
  color: white;
}


.nav_user-info{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_user-info > h4{
  font-size: 18px;
}

#nav-login{
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#nav-login:hover{
  text-decoration: underline;
}

#name-link{
  color: black;
  text-decoration: none;
}

#name-link:hover{
  text-decoration: underline;
}






/* LANDING PAGE */

.page-wrap{
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero-section{
  width: 100%;
  height: 800px;
  background-color: black;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.hero-image{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.558);
  background-image: url(./assets/Images/Pelican-2.0-Front.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: darken;
}







/* INFO SECTION */

.transparent-cover{
  width: 100%;
  height: 660px;
  background-color: transparent;
}

@keyframes wide {
  0%{ width: 1000px; }
  5%{ width: 100%; }
  100%{ width: 100%; }
}

.page-wrap2{
  width: 100%;
  height: fit-content;
  background-color: white;
  position: relative;
  z-index: 10;
  animation: wide 1 both linear;
  animation-timeline: scroll();
}

.info-section{
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 20px;
}

.info-section > h2{
  font-size: 28px;
}


.supplies{
  width: 100%;
  height: 800px;
}