*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto-reg;
}

@font-face {
  font-family: roboto-reg;
  src: url(./assets/Fonts/RobotoFlex-Regular.ttf);
}

:root {
  --primary: #5A67D8;   /* Indigo */
  --secondary: #3182CE; /* Blue */
  --accent: #F56565;    /* Warm Red */
  --background: #EDF2F7; /* Soft Gray */
  --text: #1A202C;      /* Dark Gray */
}







/* NAVBAR */

.navbar-container{
  width: 100%;
  height: 70px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  animation: navbar 1 both linear;
  animation-timeline: scroll();
}

@keyframes navbar {
  0% {background-color: transparent;}
  20% {background-color: transparent;}
  70% {background-color: var(--background);}
  100% {background-color: var(--background);}
}


.laptop-navbar{
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  /* background-color: pink; */
}

.nav-left{
  width: 200px;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  align-items: center;
}

.nav-left > h2{
  cursor: pointer;
  transition: 300ms;
  font-size: 30px;
  text-shadow: 0 1px 6px rgba(255, 255, 255, 0.7);
}

.nav-left > h2:hover{
  text-shadow: 0 1px 5px white;
}


.nav-mid{
  width: 200px;
  height: 100%;
  /* background-color: lightgreen; */
}


.nav-right{
  width: fit-content;
  height: 100%;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: end;
}


#get-started{
  width: fit-content;
  height: fit-content;
  border: 3px solid var(--primary);
  /* background-color: var(--primary); */
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
  font-size: 18px;
  font-weight: 600;
  transition: 300ms;
  cursor: pointer;
}

#get-started:hover{
  background-color: var(--primary);
  color: var(--background);
  /* font-weight: 500; */
}


.nav_user-info{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_user-info > h4{
  font-size: 18px;
}

#nav-login{
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#nav-login:hover{
  text-decoration: underline;
}

#name-link{
  color: black;
  text-decoration: none;
}

#name-link:hover{
  text-decoration: underline;
}

.menu-dropdown{
  width: 200px;
  height: fit-content;
  padding: 10px;
  background-color: purple;
}






/* LANDING PAGE */

.page-wrap{
  width: 100%;
  height: fit-content;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero-section{
  width: 100%;
  height: 800px;
  background-color: black;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.hero-image{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.558);
  background-image: url(./assets/Images/Pelican-2.0-Front.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: darken;
}







/* INFO SECTION */

.transparent-cover{
  width: 100%;
  height: 85vh;
  background-color: yellow;
}

@keyframes wide {
  0%{ width: 1000px; }
  20%{ width: 100%; }
  100%{ width: 100%; }
}

.page-wrap2{
  width: 100%;
  height: fit-content;
  background-color: var(--background);
  position: relative;
  z-index: 10;
  animation: wide 1 both linear;
  animation-timeline: scroll();
}

.info-section{
  width: 100%;
  height: 15vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 20px;
}

.info-section > h1{
  font-size: 28px;
  color: var(--primary);
  font-weight: 600;
}

span#underlined-text{
  position: relative;
}

img#underline-img{
  position: absolute;
  left: -10px;
  top: -50px;
  width: 150px;
}


.supplies{
  width: 100%;
  height: 800px;
}